.container-fluid
	.row.nav.text-center
		.col-xs-2
			h1.clear-margin.tubify-brand TUBIFY
		.col-xs-8
			form(role='form')
				.form-group
					input.form-control(type='text', placeholder='Enter a playlist...', ng-model='playlistField')
		.col-xs-2
			h1.clear-margin.pull-right
				span.glyphicon.glyphicon-user.style-glyph(aria-hidden='true')
				span.glyphicon.glyphicon-log-out.style-glyph(aria-hidden='true')