extends ../layout

block content
	.container-fluid
		.input-style-box
			h2 Login
			form(role='form', action='/login', method='POST')
				.form-group
					input.form-control#usernameInput(type='text', name='username', placeholder='Username', required)
				.form-group
					input.form-control#passwordInput(type='password', name='password', placeholder='Password', required)
				button.btn.btn-success.full-width(type='submit') Login
				p.text-center
					a(href='/register') Register