.container-fluid
	form
		.form-group
			label(for='usernameInput') Username
			input.form-control#usernameInput(type='text', placeholder='Username')
		.form-group
			label(for='passwordInput') Password
			input.form-control#passwordInput(type='password', placeholder='Password')
		button.btn.btn-success(type='submit') Login