.row.chat-container.bg-primary(ng-controller='ChatController')
    .col-sm-2
        .chat-userbox
            ul#user-list(ng-repeat='user in users')
                li {{user}}
    .col-sm-10.chat-window
        .row
            .col-sm-12
                .chat-messages.bg-info
                    ul#message-list(ng-repeat='message in messages track by $index')
                        li {{message}}
        .row
            .col-sm-9.chat-input
                form(role='form', ng-submit='saveMessage()')
                    .form-group
                        input.form-control.chat-field(type='text', ng-model='chatInput')
            .col-sm-3
                button.form-control(type='submit', ng-click='saveMessage()') Submit
