.chat-container(ng-controller='ChatController')
    //-add padding to .random to get extra box (10 px)
    .wrapper1(style="height:100%;") 
        .wrapper2(style="height:100%; padding:10px")
            .user-area(style="height:100%; width:25%; float:left; margin-right:5px")
                .chat-userbox(style=" height:100%")
                    ul#user-list(ng-repeat='user in users')
                        li {{user.name}} 
                            span.glyphicon.glyphicon-refresh(ng-show="user.synced", style="color:orange")
            .message-area(style="height:100%; float: right; position:relative")
                .chat-messages(style=" width:100%; overflow-y:auto")
                    ul#message-list(ng-repeat='message in messages track by $index')
                        li {{message.name}}:  {{message.message}}
                .chat-input(style=" position:absolute; bottom:0;  width:100%;")
                    .textarea(style="width:69%;float:left;")
                        form(role='form', ng-submit='saveMessage()')
                            .forms-group
                                input.form-control.chat-field(type='text', ng-model='chatInput', style="width:100%; border-radius:0px")
                    .submitbutton(style="width:30%;float:right")
                        button.form-control(type='submit', ng-click='saveMessage()', style="width:100%; border-radius:0px") Submit

    .name-container(style="display:none; background-color:#6699FF; position: absolute; top:20%;left:0; width:100%; padding:10px")
        .wrapper3(style="background-color:#6699FF; height:100%")
            .text(style='background-color:white')
                h1(style="margin:0px; padding:0px; text-align: center") We havent seen you before.
                h1(style="margin:0px; padding:0px; text-align: center") Please enter a name:
            .inputt(style="margin-top:10px;")
                form(role='form', ng-submit='changeName()')
                    input.form-control.name-field(type='text', ng-model='nameInput', style=" width:80%; border-radius:0px; text-align: center;float:left        ")
                button.form-control(type='submit', ng-click='changeName()', style="width:19%; float:right; border-radius:0") Submit



//- .row.chat-container.bg-primary(ng-controller='ChatController')
//-     .random.bg-info(style="height:100%; padding:15px")
//-         .col-sm-2.bg-primary(style="height:100%; padding:10px")
//-             .chat-userbox.bg-info(style=" height:100%")
//-                 ul#user-list(ng-repeat='user in users', style="position: absolute; left:0px")
//-                     li {{user}}
//-         .col-sm-10.chat-window.bg-primary(style="height:100%; padding:10px")
//-             .sup.bg-info(style="height:100%;")
//-                 .row.bg-primary(style="height:80%")
//-                     .col-sm-12(style="height:100%")
//-                         .chat-messages(style="height:100%; overflow-y:auto")
//-                             ul#message-list(ng-repeat='message in messages track by $index')
//-                                 li {{message}}
//-                 .row(style="min-height:34px;height:20%;position:absolute; bottom:0; width:100%")
//-                     .col-sm-9.
//-                         form(role='form', ng-submit='saveMessage()')
//-                             .form-group
//-                                 input.form-control.chat-field(type='text', ng-model='chatInput')
//-                     .col-sm-3
//-                         button.form-control(type='submit', ng-click='saveMessage()') Submit





//- .row.chat-container(ng-controller='ChatController')
//-     .col-sm-2.bg-primary(style="height:100%; padding:15px")
//-         .chat-userbox.bg-info(style=" height:100%")
//-             ul#user-list(ng-repeat='user in users')
//-                 li {{user}}
//-     .col-sm-10.chat-window.bg-primary(style="height:100%; padding:15px")
//-         .row
//-             .col-sm-12
//-                 .chat-messages.bg-info
//-                     ul#message-list(ng-repeat='message in messages track by $index')
//-                         li {{message}}
//-         .row(style="position: absolute; bottom: 0;")
//-             .col-sm-9.chat-input
//-                 form(role='form', ng-submit='saveMessage()')
//-                     .form-group
//-                         input.form-control.chat-field(type='text', ng-model='chatInput')
//-             .col-sm-3
//-                 button.form-control(type='submit', ng-click='saveMessage()') Submit
