.row.chat-container
    .col-sm-2(style="height:100%")
        .chat-userbox.bg-primary
            ul#user-list
                li user1
    .col-sm-10.chat-window
        .row
            .col-sm-12
                .chat-messages.bg-info
                    ul#message-list
                        li sadljkf
        .row
            .col-sm-9.chat-input
                form(role='form')
                    .form-group
                        input.form-control(type='text')
            .col-sm-3
                button.form-control(type='submit') Submit
