div#chat-container.row
    div#chat-userbox.col-sm-3
    .col-sm-9
        .row
            div#chat-messages
                .form-group
                    textarea.form-control(rows='4', cols='50', readonly)
        .row
            div#chat-input
                form(role='form')
                    .form-group
                        input.form-control(type='text')
