.blue-wrapper(ng-controller='FeaturedPlaylistController')
	.title-card
		h5 Featured Playlists
	hr
	ul.list-group
		li.list-group-item.text-center.featured-playlist(ng-repeat='playlist in featuredPlaylists', ng-click='loadPlaylist($index)') {{ playlist.title }} &nbsp&nbsp&nbsp {{playlist.playCount}}