extends ../layout

block content
	.container-fluid
		.centered-card
			h2 Register
			form(role='form', action='/register', method='POST')
				.form-group
					input.form-control(type='text', name='username', placeholder='Enter username')
				.form-group
					input.form-control(type='password', name='password', placeholder='Enter password')
				button.btn.btn-default(type='submit') Submit