extends ../layout

block content
	.container
		.input-style-box
			h2 Register
			form(role='form', action='/register', method='POST')
				.form-group
					input.form-control(type='text', name='username', placeholder='Username')
				.form-group
					input.form-control(type='password', name='password', placeholder='Password')
				button.btn.btn-info.full-width(type='submit') Register
				p.text-center
					a(href='/login') Login