.container-fluid
	.row.nav.text-center.vcenter
		.col-sm-2
			span.clear-margin.tubify-brand
				a(href='http://localhost:3000') Tubify
		.col-sm-8.hidden-xs
		.col-sm-2
			.row
				.col-xs-6
					.circle
						span.glyphicon.glyphicon-user.style-glyph
				.col-xs-6
					.circle
						a(href='/logout')
							span.glyphicon.glyphicon-log-out.style-glyph