.container-fluid
	.row.nav.text-center
		.col-xs-2
			h1.clear-margin.tubify-brand
				a(href='http://localhost:3000') Tubify
		.col-xs-8
			//- form(role='form')
			//- 	.form-group
			//- 		input.form-control(type='text', placeholder='Enter a playlist...', ng-model='playlistField', data-ng-change='playlistChange()')
			if(user)
				h1 #{user.username}
		.col-xs-2
			h3.clear-margin.pull-right
				span.glyphicon.glyphicon-user.style-glyph(aria-hidden='true')
				a(href='/logout')
					span.glyphicon.glyphicon-log-out.style-glyph(aria-hidden='true')