.container-fluid
	.row.nav.text-center.vcenter
		.col-sm-2
			span.clear-margin.tubify-brand
				a(href='/') Tubify
		.col-sm-8.hidden-xs
		.col-sm-2
			.row
				if(user)
					.col-xs-4
						.circle
							span.glyphicon.glyphicon-user.style-glyph
					.col-xs-4
						span #{user.username}
					.col-xs-4
						.circle
							a(href='/logout')
								span.glyphicon.glyphicon-log-out.style-glyph
				else
					.col-xs-12
						.circle.pull-right
							a(href='/login')
								span.glyphicon.glyphicon-log-in.style-glyph(aria-hidden='true')