extends ../layout

block content
	if(!user)
		include ../login/login
	if(user)
		include ../navbar/navbar
		script.
			var pl = '#{pl}';
			var username = '#{user.username}';
		.container-fluid(id='main', data-ng-controller='CoreController', ng-cloak)
			.row
				.col-sm-3.text-center
					form(role='form')
						.form-group
							.input-group
								input.form-control(type='text', placeholder='Playlist', ng-model='playlistField')
								.input-group-addon
									span.glyphicon.glyphicon-repeat.hover-orange(ng-click='sync()') 

					.blue-wrapper(ng-Scroll='onScroll($event)')
						//- .title-card
						//- 	h5 Your Playlist
						//- hr
						form(role='form')
							//- .form-group
							//- 	.input-group
							//- 		.input-group-addon Playlist
							//- 		input.form-control(type='text', ng-model='playlistField', data-ng-change='playlistChange()')
							.form-group
								.dropdown
									input.form-control(type='text', id='search', placeholder='Search', ng-model='searchField', ng-change='search()', ng-keydown='displayKey($event)')
									ul.dropdown-menu
										li.search-result(ng-repeat='result in searchList', ng-mouseenter='enterSearchList($index)', ng-click='playVideo()')
											.row
												.col-xs-6
													img.img-responsive(ng-src='{{ result.thumb }}')
												.col-xs-6
													span.text-muted {{ result.title }}
							//- span.glyphicon.glyphicon-repeat.hover-orange(ng-click='sync()')
					ul.form-group.clear-padding(id='sortable')
						li.list-group-item.video-item(ng-repeat='item in list1', ng-click='playClickedVideo($index)', ng-class='{playing: $index == playlistIndex}') 
							.row
								.col-xs-11.hide-overflow
									span {{ item.title }} 
								.col-xs-1.text-center
									span.glyphicon.glyphicon-remove.remove-button(ng-click="deleteVideo($index); $event.stopPropagation();")

				.col-sm-6
					.blue-wrapper.recolor-white
						.embed-responsive.embed-responsive-16by9
							div#player
				.col-sm-3
					include ../playlist/featured-playlist