

.container-fluid
	.col-sm-4
		.searchBox
			form
				.form-group
					input.form-control#search(type='text', placeholder='Search...', data-ng-model='searchField' ng-submit='expression' ng-keypress='expression')
	.col-sm-4
		p Soon to be video...
	.col-sm-4
		p Soon to be featured playlist...


		doctype html




