
.container-fluid(id='main', data-ng-controller='CoreController', ng-cloak)
	.row
		.col-sm-3.text-center
			.blue-wrapper(ng-Scroll='onScroll($event)')
				form(role='form', ng-submit='playVideo()')
					.form-group
						input.form-control(type='text', placeholder='Enter a playlist...', ng-model='playlistField', data-ng-change='playlistChange()')
					.form-group
						input.form-control#search(type='text', autocomplete='off', placeholder='Search...', data-ng-model='searchField', data-ng-change='search()', data-ng-keydown='displayKey($event)')
				ul.list-group()
					li.list-group-item(data-ng-repeat='item in searchList' ng-class='{selected :$index==counter}' ng-mouseenter='enterSearchList($index)' ng-click='playVideo()')
						.row
							.col-xs-6
								img.img-responsive(ng-src='{{item.thumb}}')
							.col-xs-6
								span.text-muted {{ item.title }}
			ul.form-group.clear-padding(id='sortable')
				li.list-group-item(data-ng-repeat='item in list1', ng-class='{selected :$index==indexList[playlistIndex]}', ng-click='playClickedVideo($index)') {{ item.title }}
		.col-sm-6
			.blue-wrapper.recolor-white
				.embed-responsive.embed-responsive-16by9
					div#player
		.col-sm-3
			p Soon to be featured playlist.




