.container-fluid(data-ng-controller='CoreController')
	.col-sm-4
		.searchBox
			form(data-ng-submit='search()')
				.form-group
					input.form-control#search(type='text', placeholder='Search...', data-ng-model='searchField')
			ul(data-ng-repeat='item in list')
				li {{ item }}
	.col-sm-4
		.container
			div(id='player')
	.col-sm-4
		p Soon to be featured playlist...


		doctype html




